name: Windows (MSVC with gnu-efi) build

on:
  workflow_dispatch:
    branches: [master]
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  SOLUTION_FILE_PATH: ./uefi-ntfs.sln
  BUILD_CONFIGURATION: Release

jobs:
  Windows-VS2019-Build:
    runs-on: windows-latest

    strategy:
      matrix:
        TARGET_PLATFORM: [x64, ia32, aa64, arm]

    steps:
    - name: Check out repository and submodules
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.1

    - name: Build UEFI bootloader
      run: |
        msbuild ${{ env.SOLUTION_FILE_PATH }} /m /p:Configuration=${{ env.BUILD_CONFIGURATION }},Platform=${{ matrix.TARGET_PLATFORM }}
        copy ${{ matrix.TARGET_PLATFORM }}\${{ env.BUILD_CONFIGURATION }}\*.efi .

    - name: Display SHA-256
      run: Get-FileHash *.efi

    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: uefi-ntfs
        path: ./*.efi
